# VPN
VPN_SERVICE_PROVIDER=nordvpn
VPN_TYPE=wireguard
WIREGUARD_PRIVATE_KEY=your_wireguard_private_key_here
SERVER_COUNTRIES=France

# User/Group
PUID=1000
PGID=1000

# Timezone
TZ=Europe/Paris

# Paths
APPS_DATA_PATH=/path/to/apps_data
STORAGE_PATH=/path/to/storage
NAS_VIDEO_PATH=/mnt/synology/video
CLEANER_SCRIPT_PATH=/path/to/cleaner.py

# Arr Cleaner (anti-stalled)
RADARR_URL=http://your_radarr_ip:7878
RADARR_API_KEY=your_radarr_api_key_here
SONARR_URL=http://your_sonarr_ip:8989
SONARR_API_KEY=your_sonarr_api_key_here
CHECK_INTERVAL=300
